<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="container">
  <div class="row position-fixed" id="cart-wrapper">
    <div class="row">
     <div class="mb-3">
       <button id="cartBtn" style="font-size: 16px" class="btn btn-primary float-end position-relative" href="">
         Cart - <span class="cart-amunt" id="cartTotalAmountBtn">$0</span>
         <i class="fa fa-shopping-cart"></i>
         <span class="position-absolute bg-success product-count" id="cartDetailQuantityBtn">0</span>
       </button>
     </div>
    </div>
    <div class="row" >
      <div class="card card-body"  style="display: none" id="cart-container">
        <div class="card-body p-4">

          <div class="row">
            <h5 class="mb-3"><a href="#" class="text-body"><i
                    class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
            <hr>

            <div class="row mb-4" id="cartHeader" style="display: none">
              <div class="col-lg-6">
                <p class="mb-1">Shopping cart</p>
                <p class="mb-0">You have <span id="orderDetailQuantity">4</span> items in your cart</p>
              </div>
              <div class="col-lg-6">
                <p class="mb-0"><span class="text-muted">Sort by:</span>
                  <a href="#" class="text-body">price
                    <i class="fas fa-angle-down mt-1"></i>
                  </a>
                </p>
              </div>
            </div>

            <div id="cartDetails" style="max-height: 450px;overflow-y: scroll">

            </div>
            <div class="card mb-3" id="cartFooter" style="display: none;">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col-lg-4 text-end"><p class="h2">Total:</p></div>
                  <div class="col-lg-4 text-end"><p class="h2" id="cartTotalAmount">$500.00</p></div>
                  <div class="col-lg-4">
                    <a href="/checkout"><button class="btn btn-lg btn-primary float-end">Check out</button></a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>

</html>