<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li><a href="cart.html"><i class="fa fa-user"></i> My Cart</a></li>
                            <li><a href="checkout.html"><i class="fa fa-user"></i> Checkout</a></li>
                            <li><a href="/login"><i class="fa fa-user"></i> Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->
</th:block>

<th:block th:fragment="site_brand">
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href=""><img src="/assets/img/logo.png"></a></h1>
                    </div>
                </div>

                <div class="col-sm-6 vertical-align-middle d-flex align-items-center justify-content-end">
                   <div class="row">
                       <button id="cartBtn" style="font-size: 16px" class="btn btn-primary  position-relative" href="">
                           Cart - <span class="cart-amunt" id="cartTotalAmountBtn">$100</span>
                           <i class="fa fa-shopping-cart"></i>
                           <span class="position-absolute bg-success product-count" id="cartDetailQuantityBtn">5</span>
                       </button>
                   </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->
</th:block>
<th:block th:fragment="mainmeu">
<!--    <div class="mainmenu-area">-->
<!--        <div class="container">-->
<!--            <ul class="nav navbar-nav flex-row" style="align-items: center;height: 58px;">-->
<!--                <li class="active"><a href="index.html">Home</a></li>-->
<!--                <li><a href="/shop">Shop page</a></li>-->
<!--                <li><a href="single-product.html">Single product</a></li>-->
<!--                <li><a href="cart.html">Cart</a></li>-->
<!--                <li><a href="checkout.html">Checkout</a></li>-->
<!--                <li><a href="#">Category</a></li>-->
<!--                <li><a href="#">Others</a></li>-->
<!--                <li><a href="#">Contact</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div> &lt;!&ndash; End mainmenu area &ndash;&gt;-->
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav  d-flex flex-row">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/shop">Shop page</a></li>
                        <li><a href="single-product.html">Single product</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Others</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->
</th:block>

</html>