<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        img{
            width:100%;
            height:auto;
            overflow: hidden;
        }
    </style>
</head>
<body>
<img src="/assets/images/errors/401.png" id="img" alt="error 401" usemap="#errorMap">
<map name="errorMap">
    <area shape="rect" coords="1070,517,1370,600" href="/" alt="">
</map>
</body>
</html>