<!DOCTYPE html>
<!--
	ustora by freshdesignweb.com
	Twitter: https://twitter.com/freshdesignweb
	URL: https://www.freshdesignweb.com/ustora/
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <th:block th:replace="/layout/head_link::header('E Mart')"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<th:block th:replace="/layout/site_header::header"/>
<th:block th:replace="/layout/site_header::site_brand"/>
<th:block th:replace="/layout/site_header::mainmeu"/>


<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="slider" id="bxslider-home4">
<!--            <li>-->
<!--                <img src="/assets/img/h4-slide.png" alt="Slide">-->
<!--                <div class="caption-group">-->
<!--                    <h2 class="caption title">-->
<!--                        iPhone <span class="primary">6 <strong>Plus</strong></span>-->
<!--                    </h2>-->
<!--                    <h4 class="caption subtitle">Dual SIM</h4>-->
<!--                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li><img src="/assets/img/h4-slide2.png" alt="Slide">-->
<!--                <div class="caption-group">-->
<!--                    <h2 class="caption title">-->
<!--                        by one, get one <span class="primary">50% <strong>off</strong></span>-->
<!--                    </h2>-->
<!--                    <h4 class="caption subtitle">school supplies & backpacks.*</h4>-->
<!--                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li><img src="/assets/img/h4-slide3.png" alt="Slide">-->
<!--                <div class="caption-group">-->
<!--                    <h2 class="caption title">-->
<!--                        Apple <span class="primary">Store <strong>Ipod</strong></span>-->
<!--                    </h2>-->
<!--                    <h4 class="caption subtitle">Select Item</h4>-->
<!--                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li><img src="/assets/img/h4-slide4.png" alt="Slide">-->
<!--                <div class="caption-group">-->
<!--                    <h2 class="caption title">-->
<!--                        Apple <span class="primary">Store <strong>Ipod</strong></span>-->
<!--                    </h2>-->
<!--                    <h4 class="caption subtitle">& Phone</h4>-->
<!--                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="maincontent-area" id="productList">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel" id="carousel">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="/assets/img/product-1.jpg" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i>
                                        See details</a>
                                </div>
                            </div>

                            <h2><a href="single-product.html">Samsung Galaxy s5- 2015</a></h2>

                            <div class="product-carousel-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="/assets/img/brand1.png" alt="">
                        <img src="/assets/img/brand2.png" alt="">
                        <img src="/assets/img/brand3.png" alt="">
                        <img src="/assets/img/brand4.png" alt="">
                        <img src="/assets/img/brand5.png" alt="">
                        <img src="/assets/img/brand6.png" alt="">
                        <img src="/assets/img/brand1.png" alt="">
                        <img src="/assets/img/brand2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->
<div class="product-widget-area position-relative">
    <th:block th:replace="layout/cart_container::container"/>
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top Sellers</h2>
                    <a href="" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-1.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-2.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Apple new mac book 2015</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-3.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Apple new i phone 6</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Recently Viewed</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-4.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony playstation microsoft</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-1.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony Smart Air Condtion</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-2.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Samsung gallaxy note 4</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top New</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-3.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Apple new i phone 6</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-4.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Samsung gallaxy note 4</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-1.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony playstation microsoft</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->

<th:block th:replace="/layout/site_footer::top"/>
<th:block th:replace="/layout/site_footer::bottom"/>

<th:block th:replace="/layout/script::all"/>
<th:block th:replace="/layout/script::menu"/>
<th:block th:replace="/layout/script::main_script"/>
<script>
    function init(){
        // findUserById: AppBase.DOMAIN_SPB_API + "/users",
        //     getBestSellerProduct: AppBase.DOMAIN_SPB_API + "/products/best_sellers",
        //     getUserCart: AppBase.DOMAIN_SPB_API + "/carts/user",
        //     addOneCartDetail:AppBase.DOMAIN_SPB_API + "/carts/add/",
        //     minusOneCartDetail:AppBase.DOMAIN_SPB_API + "/carts/minus/",
        const page = {
            urls: {
                findUserById: AppBase.DOMAIN_SPB_API + "/users",
                getBestSellerProduct: AppBase.DOMAIN_SPB_API + "/products/best_sellers",
                getBestSellerProduct: AppBase.DOMAIN_SPB_API + "/products/best_sellers",
                getUserCart: AppBase.DOMAIN_SPB_API + "/carts/user",
                addOneCartDetail:AppBase.DOMAIN_SPB_API + "/carts/add/",
                minusOneCartDetail:AppBase.DOMAIN_SPB_API + "/carts/minus/",
                adjustCartDetailQuantity:AppBase.DOMAIN_SPB_API + "/carts/adjust",
                deleteCartDetail: AppBase.DOMAIN_SPB_API + "/carts/delete/"
            },
            elements: {},
            loadData: {},
            commands: {},
        };

        page.elements.carousel = $("#carousel");
        page.elements.slider = $(".slider");

        page.elements.prodContainer = $("#prodContainer");

        page.elements.cartBtn = $("#cartBtn");
        page.elements.cartContainer = $("#cart-container");

        page.elements.orderDetailQuantity = $("#orderDetailQuantity");
        page.elements.cartDetails = $("#cartDetails");
        page.elements.cartHeader = $("#cartHeader");
        page.elements.cartFooter = $("#cartFooter");
        page.elements.cartTotalAmount = $("#cartTotalAmount");
        page.elements.cartTotalAmountBtn = $("#cartTotalAmountBtn")
        page.elements.cartDetailQuantityBtn = $("#cartDetailQuantityBtn")



        //============Load data=============//
        page.loadData.findAllBestSellers =() =>{
            $.ajax({
                type: "GET",
                url: page.urls.getBestSellerProduct
            }).done((data)=>{
                console.log("load done")
                page.elements.slider.empty();
                page.elements.carousel.empty();
                $.each(data,(i,item)=>{
                    let poster = page.commands.renderSliderPoster(item);
                    page.elements.slider.append(poster);
                    let pcard = page.commands.renderCarouselCard(item);
                    page.elements.carousel.append(pcard);

                })
                page.commands.addAddToCartBtnClickEvent();
                page.commands.initSlider()
                page.commands.initCarousel();
            })
        }

        page.loadData.loadDataHandler = ()=>{
            page.loadData.loadUserCart();
            page.commands.eventHandler();
            page.loadData.findAllBestSellers();
        }

        page.loadData.loadUserCart = () => {
            return $.ajax({
                type: "GET",
                url: page.urls.getUserCart
            })
                .done((data) => {
                    let {cartDetails, totalAmount} = data;
                    if (!cartDetails||!totalAmount) {
                        page.elements.cartDetails.text("Add a product to show!")
                        page.elements.cartTotalAmountBtn.text("$" + 0);
                        page.elements.cartDetailQuantityBtn.text(0);
                        page.elements.orderDetailQuantity.text(0);
                        page.elements.cartHeader.hide();
                        page.elements.cartFooter.hide();
                        return;
                    }
                    let count = 0;
                    page.elements.cartDetails.empty();
                    $.each(cartDetails, (i, cartDetail) => {
                        let cartDetailEl = page.commands.renderCartDetail(cartDetail);
                        page.elements.cartDetails.prepend(cartDetailEl);
                        count++;
                    })
                    page.elements.orderDetailQuantity.text(count);
                    page.elements.cartTotalAmount.text("$" + totalAmount);
                    page.elements.cartTotalAmountBtn.text("$" + totalAmount);
                    page.elements.cartDetailQuantityBtn.text(count);
                    page.elements.cartHeader.show();
                    page.elements.cartFooter.show();
                    page.commands.addQuantityBtnClickEvent()
                })
                .fail((jqXHR) => {
                    page.elements.cartHeader.hide();
                    page.elements.cartFooter.hide();
                    switch (jqXHR.status) {
                        case 401:
                            page.elements.cartDetails.text("Please login to see cart details!")
                            break;
                        default:
                            page.elements.cartDetails.text("Some thing went wong, please try again later!");
                    }
                })
        }


        //===========Render============//
        page.commands.renderSliderPoster = (data) =>{
            let {title, description, avatar} = data;
            let imageUrl = AppBase.BASE_URL_CLOUD_IMAGE + '/' + AppBase.BASE_SCALE_PRODUCT_BESTSELLER_IMAGE + '/' + avatar.fileFolder + '/' + avatar.fileName;
            return `
                  <li>
                    <img src="${imageUrl}" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            ${title} <span class="primary"> <strong>Best seller</strong></span>
                        </h2>
                        <h4 class="caption subtitle">${description}</h4>
                        <a class="caption button-radius" href="#productList"><span class="icon"></span>Shop now</a>
                    </div>
                </li>
                `
        }

        page.commands.renderCarouselCard = (data) =>{
            let {id,title,description,price,avatar} = data;
            let imageUrl = AppBase.BASE_URL_CLOUD_IMAGE + '/' + AppBase.BASE_PROMOTE_PRODUCT_SCALE_IMAGE + '/' + avatar.fileFolder + '/' + avatar.fileName;
            return `
                          <div class="single-product">
                            <div class="product-f-image">
                                <img src="${imageUrl}" alt="">
                                <div class="product-hover">
                                    <a href="javascript:void(0)" class="add-to-cart-link addToCartBtn" data-id="${id}">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                    <a href="/product/${id}" class="view-details-link"><i class="fa fa-link"></i>
                                        See details</a>
                                </div>
                            </div>

                            <h2><a href="single-product.html">${title}</a></h2>

                            <div class="product-carousel-price">
                                <ins>$ ${price}</ins>
                                <del>$ ${price-50}</del>
                            </div>
                        </div>`;
        }

        page.commands.renderCartDetail = (cartDetail) => {
            let {title, price, quantity, amount, product} = cartDetail;
            let {avatar, id} = product;
            let imageUrl = AppBase.BASE_URL_CLOUD_IMAGE + '/' + AppBase.BASE_CART_PRODUCT_SCALE_IMAGE + '/' + avatar.fileFolder + '/' + avatar.fileName;
            return `
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between row">
                                <div class="col-lg-7 d-flex flex-row align-items-center " style="font-size: 16px">
                                    <div>
                                        <img
                                                src="${imageUrl}"
                                                class="img-fluid rounded-3" alt="Shopping item"
                                                style="width: 65px;">
                                    </div>
                                    <div class="ms-3">
                                        <h5>${title}</h5>
                                        <p class="small mb-0">${product.description}</p>
                                    </div>
                                </div>
                                <div class="col-lg-5 d-flex flex-row align-items-center">
                                    <span   style="cursor: pointer"
                                            class="border border-1 rounded px-2 mx-2 btn-add"
                                            data-id=${id}>
                                        <i  class="fa fa-plus"></i>
                                    </span>
                                    <input  style="width: 30px;height: 25px"
                                            class="mb-0 text-center border-light input-quantity"
                                            data-id="${id}"
                                            value="${quantity}"/>
                                    <span   style="cursor: pointer"
                                            class="border border-1 rounded px-2 mx-2 btn-minus"
                                            data-id=${id}>
                                        <i  class="fa fa-minus"></i>
                                    </span>
                                    <div    style="width: 80px;">
                                        <p  class="h4 text-center m-auto">$ ${amount}</p>
                                    </div>
                                    <button data-id=${id} class="btn btn-sm btn-danger btn-delete">
                                        <i  class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;
        }

        //=========EVENT HANDLER===========//

        page.elements.cartBtn.hover(() => {
            page.elements.cartContainer.show(200)
        })

        page.elements.cartContainer.mouseleave(function () {
            $(this).hide(200);
        })

        page.commands.addQuantityBtnClickEvent = ()=> {
            page.elements.addBtn = $(".btn-add");
            page.elements.minusBtn = $(".btn-minus");
            page.elements.deleteBtn = $(".btn-delete");
            page.elements.inputQuantity = $(".input-quantity")

            page.elements.addBtn.off("click");
            page.elements.minusBtn.off("click");
            page.elements.deleteBtn.off("click");
            page.elements.inputQuantity.off("blur");


            page.elements.addBtn.on("click", function (e) {
                let id = $(this).data("id");
                page.commands.addCartDetailQuantity(id);
            });
            page.elements.minusBtn.on("click", function () {
                let id = $(this).data("id");
                page.commands.minusCartDetailQuantity(id);
            });

            page.elements.deleteBtn.on("click", function () {
                let id = $(this).data("id");
                page.commands.deleteCartDetail(id);
            })
            page.elements.inputQuantity.blur(function (){
                let id = $(this).data("id");
                let quantity = $(this).val();
                page.commands.adjustCartDetailQuantity(id,quantity)
            })
        }
        page.commands.addAddToCartBtnClickEvent = ()=>{
            page.elements.addToCartBtn = $(".addToCartBtn");
            page.elements.addToCartBtn.off("click");
            page.elements.addToCartBtn.on("click", function (e) {
                let id = $(this).data("id");
                page.commands.addProductToCart(id);
            });
        }

        page.commands.eventHandler = ()=>{
            window.onclick = (e)=>{
                if(!e.target.closest("#cart-container"))
                    page.elements.cartContainer.hide(200)
            }
        }

        //==========DATABASE INTERACT===========//
        page.commands.addCartDetailQuantity = (id)=>{
            $.ajax({
                type: "POST",
                url: page.urls.addOneCartDetail + id,
            }).done(()=>{
                page.loadData.loadUserCart();
            }).fail((jqXHR)=>{
                AppBase.errorNotify(jqXHR);
            })
        }

        page.commands.minusCartDetailQuantity = (id)=>{
            $.ajax({
                type: "POST",
                url: page.urls.minusOneCartDetail + id,
            }).done(()=>{
                page.loadData.loadUserCart();
            }).fail((jqXHR)=>{
                AppBase.errorNotify(jqXHR);
            })
        }

        page.commands.addProductToCart = (id)=>{
            $.ajax({
                type: "POST",
                url: page.urls.addOneCartDetail + id,
            }).done(() => {
                page.loadData.loadUserCart();
            }).fail((jqXHR) => {
                console.log(123)
                AppBase.errorNotify(jqXHR);
            })
        }

        page.commands.adjustCartDetailQuantity = (id, quantity)=>{
            $.ajax({
                type: "PATCH",
                url: page.urls.adjustCartDetailQuantity + `/${id}/${quantity}`
            }).done(()=>{
                page.loadData.loadUserCart();
            }).fail((jqXHR)=>{
                let err = jqXHR.responseJSON;
                AppBase.SweetAlert.showErrorAlert(err.message||"Invalid quantity");
            })
        }
        page.commands.deleteCartDetail = (id) => {
            AppBase.SweetAlert.showDeleteConfirmDialog()
                .then((isConfirmed) => {
                        if (isConfirmed) {
                            $.ajax({
                                type: "DELETE",
                                url: page.urls.deleteCartDetail + id
                            }).done(() => {
                                page.elements.cartContainer.show();
                                AppBase.SweetAlert.showSuccessAlert("Deleted");
                                page.loadData.loadUserCart();
                            })
                        }
                    }
                )
        }


        page.commands.initSlider = () => {
            (function ($) {
                console.log("slider")
                // Slidder home 4
                if ($('#bxslider-home4').length > 0) {
                    var slider = $('#bxslider-home4').bxSlider({
                        nextText:'<i class="fa fa-angle-right"></i>',
                        prevText:'<i class="fa fa-angle-left"></i>',
                        auto: true,
                        onSliderLoad:function(currentIndex){
                            $('#bxslider-home4 li').find('.caption').each(function(i){
                                $(this).show().addClass('animated fadeInRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                                    $(this).removeClass('fadeInRight animated');
                                });
                            })
                        },
                        onSlideBefore:function(slideElement, oldIndex, newIndex){
                            //slideElement.find('.sl-description').hide();
                            slideElement.find('.caption').each(function(){
                                $(this).hide().removeClass('animated fadeInRight');
                            });
                        },
                        onSlideAfter: function(slideElement, oldIndex, newIndex){
                            //slideElement.find('.sl-description').show();
                            setTimeout(function(){
                                slideElement.find('.caption').each(function(){
                                    $(this).show().addClass('animated fadeInRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                                        $(this).removeClass('fadeInRight animated');
                                    });
                                });
                            }, 500);
                        }
                    });
                    // slider.reloadSlider();
                }
            })(jQuery); // End of use strict
        }
        page.commands.initCarousel = ()=>{
            $('.product-carousel').owlCarousel({
                loop: true,
                nav: true,
                margin: 20,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    600: {
                        items: 3,
                    },
                    1000: {
                        items: 5,
                    }
                }
            });

            $('.related-products-carousel').owlCarousel({
                loop: true,
                nav: true,
                margin: 20,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    600: {
                        items: 2,
                    },
                    1000: {
                        items: 2,
                    },
                    1200: {
                        items: 3,
                    }
                }
            });

            $('.brand-list').owlCarousel({
                loop: true,
                nav: true,
                margin: 20,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    600: {
                        items: 3,
                    },
                    1000: {
                        items: 4,
                    }
                }
            });
        }
        page.commands.initNavMenu = ()=>{
            $(".mainmenu-area").sticky({topSpacing: 0});

            // Bootstrap Mobile Menu fix
            $(".navbar-nav li a").click(function () {
                $(".navbar-collapse").removeClass('in');
            });
            // jQuery Scroll effect
            $('.navbar-nav li a, .scroll-to-up').bind('click', function (event) {
                var $anchor = $(this);
                var headerH = $('.header-area').outerHeight();
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top - headerH + "px"
                }, 1200, 'easeInOutExpo');

                event.preventDefault();
            });

            // // Bootstrap ScrollPSY
            // $('body').scrollspy({
            //     target: '.navbar-collapse',
            //     offset: 95
            // })
            var scrollSpy = new bootstrap.ScrollSpy(document.body, {
                target: '.navbar-collapse',
                offset: 95
            })
        }
        return ()=>{
            page.loadData.loadDataHandler();
            page.commands.initNavMenu();
        }
    }
    $(()=>{
        let Index = init();
        Index()
    })

</script>
</body>
</html>