<!DOCTYPE html>
<!--
	ustora by freshdesignweb.com
	Twitter: https://twitter.com/freshdesignweb
	URL: https://www.freshdesignweb.com/ustora/
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <th:block th:replace="/layout/head_link::header('E Mart')"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.3.css">
</head>
<body>

<th:block th:replace="/layout/site_header::header"/>
<th:block th:replace="/layout/site_header::site_brand"/>
<th:block th:replace="/layout/site_header::mainmeu"/>


<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="slider" id="bxslider-home4">
<!--            <li>-->
<!--                <img src="/assets/img/h4-slide.png" alt="Slide">-->
<!--                <div class="caption-group">-->
<!--                    <h2 class="caption title">-->
<!--                        iPhone <span class="primary">6 <strong>Plus</strong></span>-->
<!--                    </h2>-->
<!--                    <h4 class="caption subtitle">Dual SIM</h4>-->
<!--                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li><img src="/assets/img/h4-slide2.png" alt="Slide">-->
<!--                <div class="caption-group">-->
<!--                    <h2 class="caption title">-->
<!--                        by one, get one <span class="primary">50% <strong>off</strong></span>-->
<!--                    </h2>-->
<!--                    <h4 class="caption subtitle">school supplies & backpacks.*</h4>-->
<!--                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li><img src="/assets/img/h4-slide3.png" alt="Slide">-->
<!--                <div class="caption-group">-->
<!--                    <h2 class="caption title">-->
<!--                        Apple <span class="primary">Store <strong>Ipod</strong></span>-->
<!--                    </h2>-->
<!--                    <h4 class="caption subtitle">Select Item</h4>-->
<!--                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li><img src="/assets/img/h4-slide4.png" alt="Slide">-->
<!--                <div class="caption-group">-->
<!--                    <h2 class="caption title">-->
<!--                        Apple <span class="primary">Store <strong>Ipod</strong></span>-->
<!--                    </h2>-->
<!--                    <h4 class="caption subtitle">& Phone</h4>-->
<!--                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<!--<div class="promo-area">-->
<!--    <div class="zigzag-bottom"></div>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-3 col-sm-6">-->
<!--                <div class="single-promo promo1">-->
<!--                    <i class="fa fa-refresh"></i>-->
<!--                    <p>30 Days return</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-6">-->
<!--                <div class="single-promo promo2">-->
<!--                    <i class="fa fa-truck"></i>-->
<!--                    <p>Free shipping</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-6">-->
<!--                <div class="single-promo promo3">-->
<!--                    <i class="fa fa-lock"></i>-->
<!--                    <p>Secure payments</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-6">-->
<!--                <div class="single-promo promo4">-->
<!--                    <i class="fa fa-gift"></i>-->
<!--                    <p>New products</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div> &lt;!&ndash; End promo area &ndash;&gt;-->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel" id="carousel">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="/assets/img/product-1.jpg" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i>
                                        See details</a>
                                </div>
                            </div>

                            <h2><a href="single-product.html">Samsung Galaxy s5- 2015</a></h2>

                            <div class="product-carousel-price">
                                <ins>$700.00</ins>
                                <del>$100.00</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="/assets/img/brand1.png" alt="">
                        <img src="/assets/img/brand2.png" alt="">
                        <img src="/assets/img/brand3.png" alt="">
                        <img src="/assets/img/brand4.png" alt="">
                        <img src="/assets/img/brand5.png" alt="">
                        <img src="/assets/img/brand6.png" alt="">
                        <img src="/assets/img/brand1.png" alt="">
                        <img src="/assets/img/brand2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top Sellers</h2>
                    <a href="" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-1.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-2.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Apple new mac book 2015</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-3.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Apple new i phone 6</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Recently Viewed</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-4.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony playstation microsoft</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-1.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony Smart Air Condtion</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-2.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Samsung gallaxy note 4</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top New</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-3.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Apple new i phone 6</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-4.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Samsung gallaxy note 4</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="/assets/img/product-thumb-1.jpg" alt=""
                                                           class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony playstation microsoft</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins>
                            <del>$425.00</del>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->

<th:block th:replace="/layout/site_footer::top"/>
<th:block th:replace="/layout/site_footer::bottom"/>

<th:block th:replace="/layout/script::all"/>
<th:block th:replace="/layout/script::menu"/>
<th:block th:replace="/layout/script::main_script"/>
<script>
    function init(){
        const page = {
            urls: {
                findUserById: AppBase.DOMAIN_SPB_API + "/users",
                getBestSellerProduct: AppBase.DOMAIN_SPB_API + "/products/best_sellers",
            },
            elements: {},
            loadData: {},
            commands: {},
        };

        page.elements.carousel = $("#carousel");
        page.elements.slider = $(".slider");


        //============Load data=============//
        page.loadData.findAllBestSellers =() =>{
            $.ajax({
                type: "GET",
                url: page.urls.getBestSellerProduct
            }).done((data)=>{
                console.log("load done")
                page.elements.slider.empty();
                page.elements.carousel.empty();
                $.each(data,(i,item)=>{
                    let poster = page.commands.renderSliderPoster(item);
                    page.elements.slider.append(poster);
                    let pcard = page.commands.renderCarouselCard(item);
                    page.elements.carousel.append(pcard);

                })
                page.commands.initSlider()
                page.commands.initCarousel();
            })
        }

        page.loadData.loadDataHandler = ()=>{
            page.loadData.findAllBestSellers();
        }


        //===========Render============//
        page.commands.renderSliderPoster = (data) =>{
            let {title,description,avatar} = data;
            return`
                  <li>
                    <img src="${avatar.fileUrl}" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            ${title} <span class="primary"> <strong>Best seller</strong></span>
                        </h2>
                        <h4 class="caption subtitle">${description}</h4>
                        <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                    </div>
                </li>
                `
        }

        page.commands.renderCarouselCard = (data) =>{
            let {title,description,price,avatar} = data;
            let imageUrl = AppBase.BASE_URL_CLOUD_IMAGE + '/' + AppBase.BASE_PROMOTE_PRODUCT_SCALE_IMAGE + '/' + avatar.fileFolder + '/' + avatar.fileName;
            return `
                          <div class="single-product">
                            <div class="product-f-image">
                                <img src="${imageUrl}" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i>
                                        See details</a>
                                </div>
                            </div>

                            <h2><a href="single-product.html">${title}</a></h2>

                            <div class="product-carousel-price">
                                <ins>$ ${price}</ins>
                                <del>$ ${price-50}</del>
                            </div>
                        </div>`;
        }



        page.commands.initSlider = ()=>{
            (function($){
                console.log("slider")
                // Slidder home 4
                if($('#bxslider-home4').length >0){
                    var slider = $('#bxslider-home4').bxSlider({
                        nextText:'<i class="fa fa-angle-right"></i>',
                        prevText:'<i class="fa fa-angle-left"></i>',
                        auto: true,
                        onSliderLoad:function(currentIndex){
                            $('#bxslider-home4 li').find('.caption').each(function(i){
                                $(this).show().addClass('animated fadeInRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                                    $(this).removeClass('fadeInRight animated');
                                });
                            })
                        },
                        onSlideBefore:function(slideElement, oldIndex, newIndex){
                            //slideElement.find('.sl-description').hide();
                            slideElement.find('.caption').each(function(){
                                $(this).hide().removeClass('animated fadeInRight');
                            });
                        },
                        onSlideAfter: function(slideElement, oldIndex, newIndex){
                            //slideElement.find('.sl-description').show();
                            setTimeout(function(){
                                slideElement.find('.caption').each(function(){
                                    $(this).show().addClass('animated fadeInRight').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                                        $(this).removeClass('fadeInRight animated');
                                    });
                                });
                            }, 500);
                        }
                    });
                    // slider.reloadSlider();
                }
            })(jQuery); // End of use strict
        }
        page.commands.initCarousel = ()=>{
            $('.product-carousel').owlCarousel({
                loop: true,
                nav: true,
                margin: 20,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    600: {
                        items: 3,
                    },
                    1000: {
                        items: 5,
                    }
                }
            });

            $('.related-products-carousel').owlCarousel({
                loop: true,
                nav: true,
                margin: 20,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    600: {
                        items: 2,
                    },
                    1000: {
                        items: 2,
                    },
                    1200: {
                        items: 3,
                    }
                }
            });

            $('.brand-list').owlCarousel({
                loop: true,
                nav: true,
                margin: 20,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    600: {
                        items: 3,
                    },
                    1000: {
                        items: 4,
                    }
                }
            });
        }
        page.commands.initNavMenu = ()=>{
            $(".mainmenu-area").sticky({topSpacing: 0});

            // Bootstrap Mobile Menu fix
            $(".navbar-nav li a").click(function () {
                $(".navbar-collapse").removeClass('in');
            });
            // jQuery Scroll effect
            $('.navbar-nav li a, .scroll-to-up').bind('click', function (event) {
                var $anchor = $(this);
                var headerH = $('.header-area').outerHeight();
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top - headerH + "px"
                }, 1200, 'easeInOutExpo');

                event.preventDefault();
            });

            // // Bootstrap ScrollPSY
            // $('body').scrollspy({
            //     target: '.navbar-collapse',
            //     offset: 95
            // })
            var scrollSpy = new bootstrap.ScrollSpy(document.body, {
                target: '.navbar-collapse',
                offset: 95
            })
        }
        return ()=>{
            page.loadData.loadDataHandler();
            page.commands.initNavMenu();
        }
    }
    $(()=>{
        let Index = init();
        Index()
    })

</script>
</body>
</html>